
/*
Colors used:
Primary Color (Main Olive Green): #7db066;
Secondary Color (Light Olive Green): #d7f0cc;
*/

* {
  box-sizing: border-box;
}
  body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
  }
  header {
    background-color: #d7f0cc;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    position: fixed;
    box-shadow: 0px 2px 15px 0px rgba(40, 40, 40, 0.6);
    width: 100%;
  }
  main {
    padding-top: 200px;
  }
  h1, h2, h3, h4 {
    line-height: 1.4;

  }
  h1 {
    font-size: 2.00em;
    font-weight: 700;
  }

  h2 {
    font-size: 1.75em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.25em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.00em;
    font-weight: 400;
  }
  img {
    width:100%;
  }

  a:link {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
  transition-duration: 0.2s;
  transition-property: opacity;
  }
  a:visited { /* visited link */
  color: #346beb;
  }
  a:hover {
    color: #439140;
    opacity: 0.8;
    font-weight: bold;
  }
  a:active { /* selected link */
  color: #994c30;
  }

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #ff7f50;
    color: #ffffff !important; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
  .button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  }
  .button:active {
    opacity:0.4; /*Reduces the opactiy of the button to 40% when active. Makes action visible for mobile users where hover is not visible */
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: #ff7f50 !important;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
    margin-bottom: 20px;
    transition: 0.2s;
  }
  .button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff !important;
  }
  .button.contact:active {
    background-color: #ff7f50;
    color: #ffffff !important;
    border: 5px solid #439140;
  }
  .profile-pic {
    max-width:20%;
    height:auto;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .logo { /* changes the size of the logo*/
    max-width:125px;
    height:auto;
  }
  .vela-cover-img {
    max-width: 80%;
    height: auto;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .wordier-cover-img {
    max-width: 80%;
    height: auto;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 5px;
  }
  .prototype-parent {
    text-align: center;
    margin-bottom: 50px;
  }
  .button-prototype {
    background-color: transparent;
    color: #ff7f50 !important;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
    margin-bottom: 20px;
    font-weight:400;
    padding: 10px;
    border-radius: 3px;
  }
  .button-prototype:hover {
  background-color: #ff7f50;
  color: #ffffff !important;
  }
  .button-prototype:active {
    background-color: #ff7f50;
    color: #ffffff !important;
  }

  .linkedin {
    width:8%;
    height:8%;
  }
  .twitter {
    width: 8%;
    height: 8%;
  }

  /* Layout Styling Below */

  .container {
    padding: 0 15px;
  }
  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #my-work .row {
    padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
  }
  #hero {
    background-color: #f2f2f2;
    display: inline-block;
    width: 100%;
    text-align: center; /* I am not sure why the text doesnt appear to be accurately centered on the screen. */
    padding-bottom: 50px;
    padding-top: 15px;
  }
  #hero h1 {
      padding: 0 25px;
      width: 100%;
  }
#hero span {
  display:block;
  font-size: 16pt;
  font-style: bold;
  padding: 0 25px;
}
  nav > ul {
    list-style-type: none;
    padding: 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  nav > ul > li > a {
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5e5e5e; /* ISSUE - FOR SOME REASON, THE BLUE COLOR FROM THE VISITED LINK CLASS IS OVERRIDING THIS */
  }
  nav > ul > li > a:visited {
    color: #8c8c8c;
  }
  nav > ul > li > a:hover {
    color: #ff7f50;
    text-decoration: none;
  }
  nav > ul > li > a:active {
    color: #ffffff;
  }
  #my-work {
    text-align: center;
  }
  #footer {
    text-align: center;
  }
  #about {
    text-align: center;
  }
  #skills-tools-list > h2 > div > div > h3 > ul {
    list-style-type: none;
    padding: 0px;
  }
  .relevant-skills {
    list-style-type: none;
  }
  .tools-i-use {
    list-style-type: none;
  }
  #resume-button {
    background-color: transparent;
    color: #ff7f50 !important;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
  }
  #resume-button:hover {
  background-color: #ff7f50;
  color: #ffffff !important;
  }
  #resume-button:active {
    background-color: #ff7f50;
    color: #ffffff !important;
  }
  #vela-title {
    text-align: center;
  }
  #prototype-title {
    text-align: center;
  }
  .vela-main {
    padding-top: 235px;
  }
  #my-story {
    width: 100%;
    padding: 0 10px 5px 10px;
  }
  .container-resume-button {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .berlin-illustration {
    width:100%;
    max-width:100%;
    height: auto;
  }
  #animation-test {
    text-align: center;
  }
  @keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
  }
  @keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }

[class*="col-"] {
  float:left;
  padding-left: 10px;
  padding-right: 10px;
}
  /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
  text-align: unset;
  padding: 10px 0 10px;
}
main {
  padding-top: 135px;
}
nav {
   width: auto;
   float: right;
   margin-top: 30px;
 }
 body {
   font-size:18px;
 }
 .col-md-6 {
  width: 50%;
}
  #about-page h3 { margin-top: 0;
  }
}



/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

.col-lg-5 {
  width: 41.66%;
  float:left;
}
.col-lg-7 {
  width: 58.33%;
  float:left;
}
.col-lg-6 {
  width: 50%;
  float: left;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
