
/*
Colors used:
Primary Color (Main Olive Green): #7db066;
Secondary Color (Light Olive Green): #d7f0cc;
*/

* {
  box-sizing: border-box;
}
  body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
  }
  header {
    background-color: #d7f0cc;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.75);
    width: 100%;
  }
  main {
    padding-top: 210px;
  }
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.00em;
    font-weight: 700;
  }

  h2 {
    font-size: 1.75em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.25em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.00em;
    font-weight: 400;
  }
  img {
    width:100%;
  }

  a:link {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
  }
  a:visited { /* visited link */
  color: #346beb;
  }
  a:hover,
  a:focus {
    color: #7db066;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:active { /* selected link */
  color: #994c30;
  }

  .social-links a:link {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
  }
  .social-links a:visited { /* visited link */
  color: #346beb;
  }
  .social-links a:hover,
    a:focus {
    color: #7db066;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  .social-links a:active { /* selected link */
  color: #994c30;
  }

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #ff7f50;
    color: #ffffff !important; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
  .button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  }
  .button:active {
    opacity:0.4; /*Reduces the opactiy of the button to 40% when active. Makes action visible for mobile users where hover is not visible */
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: #ff7f50 !important;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
    margin-bottom: 20px;
  }
  .button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff !important;
  }
  .button.contact:active {
    background-color: #ff7f50;
    color: #ffffff !important;
  }
  .profile-pic {
    max-width:25%;
    height:auto;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .logo { /* changes the size of the logo*/
    max-width:150px;
    height:auto;
  }
  .vela-cover-img {
    max-width: 80%;
    height: auto;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .wordier-cover-img {
    max-width: 80%;
    height: auto;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 5px;
  }
  .button.prototype {
    background-color: transparent;
    text-align: center; /* I am not sure why this button is not centering. */
    color: #ff7f50 !important;
    text-transform: uppercase;
    border: 3px solid #ff7f50;
  }
  .button.prototype:hover {
  background-color: #ff7f50;
  text-align: center;
  color: #ffffff !important;
  }
  .button.prototype:active {
    background-color: #ff7f50;
    text-align: center;
    color: #ffffff !important;
  }
  .linkedin {
    width:10%;
    height:10%;
  }
  .twitter {
    width: 10%;
    height: 10%;
  }
  /* Layout Styling Below */

  .container {
    padding: 0 15px;
  }
  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }
  #my-work .row {
    padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
  }
  #hero {
    background-color: #f2f2f2;
    display: inline-block;
    width: 100%;
    text-align: center; /* I am not sure why the text doesnt appear to be accurately centered on the screen. */
    padding-bottom: 15px;
    padding-top: 15px;
  }
  #hero h1 {
      padding: 0 25px;
      width: 100%;
  }
#hero span {
  font-size: 16pt;
  font-style: bold;
  padding: 0 25px;
}
  nav > ul {
    list-style-type: none;
    padding: 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  nav > ul > li > a {
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 900;
    color: #4a4a4a; /* ISSUE - FOR SOME REASON, THE BLUE COLOR FROM THE VISITED LINK CLASS IS OVERRIDING THIS */
  }
  nav > ul > li > a:visited {
    color: #949494;
  }
  nav > ul > li > a:hover {
    color: #d6d6d6;
    text-decoration: none;
  }
  nav > ul > li > a:active {
    color: #ffffff;
  }
  #my-work {
    text-align: center;
  }
  #footer {
    text-align: center;
  }
  #about {
    text-align: center;
  }
  #skills-tools-list > div > ul {
    list-style-type: none;
    padding: 0;
    padding-bottom: 50px;
  }
  #resume-button {
    background-color: transparent;
    color: #ff7f50 !important;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
  }
  #resume-button:hover {
  background-color: #ff7f50;
  color: #ffffff !important;
  }
  #resume-button:active {
    background-color: #ff7f50;
    color: #ffffff !important;
  }
  #vela-title {
    text-align: center;
  }
  #prototype-title {
    text-align: center;
  }
